
#app{
    .error-info{
        height: 50px;
        color: red;
        text-align: left;
        padding-left: 1em;
        font-size: .9em;
        line-height: 2;
    }
    .s-error{
        border: 1px solid red;
    }
    .c-red{
        color: red;
    }
}
